@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

section {
    background-color: white;
    transition: all 300ms ease;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 2px solid #c0c4cc;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 36px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    max-height: 180px;
    margin-top: 8px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover, textarea:hover {
    border-color: white;
}

input:focus, textarea:focus {
    border-color: rgb(19, 19, 231);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.title,
.title__blue {
    font-size: 80px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.title__blue,
.blue {
    color: rgb(19, 19, 231);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.link__hover-effect--black,
.link__hover-effect--white {
    transition: all 300ms ease;
}

.link__hover-effect--blue:after {
    background-color: rgb(19, 19, 231);
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect--blue:hover {
    color: rgb(19, 19, 231);
}

.click {
    cursor: pointer;
    transition: all 300ms ease
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

button {
    cursor: pointer;
}

.container {
    padding: 48px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 32px;
}

nav,
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 550ms 300ms;
}

.panel--open nav,
.panel--open .scroll,
.panel--open .header {
    filter: blur(5px);
    transition: all 450ms ease;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-circle-half-stroke,
.dark-theme .header__para,
.dark-theme .about__me:hover {
    color: white;
}

.dark-theme #initials-logo {
    filter: invert(1);
}

.dark-theme .scroll__icon {
    border-color: white;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--blue:after {
    background-color: white;
}

.dark-theme .fa-caret-down {
    color: white;
}

.dark-theme section {
    background-color: #242424;
}

.dark-theme .btn__mail {
    background-color: white;
    color: #242424;
}

/* 

LANDING PAGE

*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 28px;
    margin-top: 36px;
}

.header__content {
    padding: 0 24px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 470px;
}

.about__me {
    cursor: pointer;
    transition: all 300ms ease;
}

.about__me:hover {
    color: purple;
}

.social__list {
    display: flex;
    margin-top: 16px;
}

.social__link {
   background-color: blue;
   color: white;
   padding: 4px;
   width: 32px;
   height: 32px;
   margin-right: 12px;
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 9999px;
}

.btn__mail {
    width: 60px;
    height: 60px;
    font-size: 28px;
    border: none;
    border-radius: 9999px;
    background-color: #242424;
    color: white;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    position: fixed;
}

.panel--open .btn__mail {
    opacity: 0;
    visibility: hidden;
    transition: all 450ms ease;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 28px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
}

.fa-caret-down {
    animation: scroll 1000ms infinite alternate-reverse;
    color: #242424;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

/* 

NAVIGATION

*/

nav {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    color: #242424;
    font-size: 16px;
    font-weight: 700;
}

.fa-circle-half-stroke {
    font-size: 20px;
}

#initials-logo {
    width: 60px;
    height: 60px;
}

/*

PANEL

*/

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
    height: 550px;
    visibility: hidden;
    z-index: -1;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    transition: visibility 1s, z-index 1s, box-shadow 500ms;
}

.panel--open .panel {
    z-index: 50;
    box-shadow: 0 20px 60px 0 rgb(0, 0, 0, 0.5);
    visibility: visible;
}

.panel__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 350ms ease-in;
}

.panel__about {
    background-color: white;
    transform: translateX(-110%);
}

.panel--open .panel__about,
.panel--open .panel__connect {
    transform: translateX(0%);
}

.panel__connect {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.panel__title {
    margin-top: 24px;
    font-size: 24px;
}

.panel__subtitle {
    font-size: 14px;
    margin: 12px 0 24px 0;
}

.panel__para--about {
    margin-bottom: 20px;
    line-height: 1.6;
}

.panel__languages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.panel__img--wrapper {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.panel__img {
    width: 40px;
}

.panel__img--wrapper:hover .panel__img--name {
    transform: scale(1);
}

.panel__img--wrapper:hover {
    filter: brightness(85%);
    transform: scale(0.9);
}

.panel__img--name {
    position: absolute;
    bottom: -10px;
    font-size: 16px;
    font-weight: 600;
    transform: scale(0);
    transition: all 300ms ease;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: rgb(19, 19, 231);
    border: 2px solid rgb(19, 19, 231);
    border-radius: 4px;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 4px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    color: rgb(19, 19, 231);
    border-color: rgb(19, 19, 231);
}

.panel__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.panel__overlay--loading {
    background-color: rgb(19, 19, 231);
    font-size: 84px;
    z-index: -1;
}

.fa-spinner {
    animation: spinner 1000ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.panel__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
    z-index: -2;
}

.panel__overlay--visible {
    z-index: 1;
    display: flex;
}

.panel__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

/*

PROJECTS

*/

.section__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
}

.project__img {
    width: 100%;
    transition: all 450ms ease;
}

.project {
    display: flex;
    justify-content: center;
    margin: 64px 0;
}

.project__wrapper {
    position: relative;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0 20px 40px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    width: 70%;
    max-width: 550px;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
}

.project__description--title {
    font-size: 36px;
}

.project__description--subtitle {
    margin: 4px 0;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 12px;
}

/*

FOOTER

*/

footer {
    background-color: #242424;
    padding: 6% 0;
    display: flex;
    position: relative;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    width: 60px;
    height: 60px;
    border-radius: 9999px;
    filter: invert(1);
}

.footer__social--links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 28px 0;
    max-width: 500px;
}

.footer__social--link {
    color: white;
    font-weight: 500;
}

.footer__copyright {
    color: white;
}

/* 

SHAPES

*/

.shape {
    position: fixed;
}

.shape--0 {
    top: 15vh;
    left: 5vw;
}

.shape--1 {
    top: 15vh;
    left: 50vw;
}

.shape--2 {
    top: 15vh;
    left: 80vw;
}

.shape--3 {
    top: 45vh;
    left: 5vw;
}

.shape--4 {
    top: 45vh;
    left: 50vw;
}
.shape--5 {
    top: 45vh;
    left: 80vw;   
}

.shape--6 {
    top: 80vh;
    left: 5vw;
}
.shape--7 {
    top: 80vh;
    left: 50vw;
}
.shape--8 {
    top: 80vh;
    left: 80vw;
}

/*

Small phones, tablets, large smartphones

*/

@media (max-width: 768px) {
    .title,
    .title__blue {
        font-size: 72px;
    }

    .header__para {
        font-size: 20px;
    }

    .panel {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }

    .panel__half {
        width: 100%;
    }

    .project__wrapper:hover .project__description {
        opacity: 0;
        transform: translateY(100%);
    }
    
    .project__wrapper:hover .project__img {
        transform: none;
        filter: none;
    }
    
    .project__wrapper:hover .project__wrapper--bg {
        opacity: 0;
    }

    .project__wrapper:active .project__description {
        opacity: 1;
        transform: translateY(-50%);
    }
    
    .project__wrapper:active .project__img {
        transform: scale(1.07);
        filter: blur(5px);
    }
    
    .project__wrapper:active .project__wrapper--bg {
        opacity: 0.7;
    }
}

/*

Small Phones

*/

@media (max-width: 550px) {
    .title,
    .title__blue {
        font-size: 52px;
    }

    .header__para {
        font-size: 16px;
    }

    .nav__link:first-child {
        display: none;
    }

    .panel__half {
        padding: 40px;
    }

    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .project__description--title {
        font-size: 28px;
    }

    .project__description--subtitle {
        margin: 4px 0 8px 0;
    }

    .project__description--para {
        display: none;
    }
}